html{	
   /* cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;
        */
} 

a{
    text-decoration: none;
}

body{
    max-width: 950px;
    margin: auto;
}
div.header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin: auto;
    max-width: 925px;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

#head-content{
    grid-column: 1 / 2;
    grid-row: 1;
}

.off-site{
    /* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 50px;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 35px;
height: 120px;
width: 118px;
margin-top: 25px;
background-color: #DBECFF;
border-radius: 200px;
transition: all 0.2s cubic-bezier(0.3, 0, 1, 1);

grid-column: 2 / 2;
grid-row: 1;
;
/* identical to box height, or 131% */

letter-spacing: 0.773809px;
text-decoration-line: underline;

color: #000000;


}

.off-site:hover{
    border-radius: 10px;
    width: 130px;
}


.backnav{
    font-family: Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */

letter-spacing: 6px;
text-transform: uppercase;

/* Dark Grey/60 */

color: #73808D;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 24px 0px;
}

.proj-tittle{
    font-family: Arial, Helvetica, sans-serif;
    /* Dark Grey/80 */

    color: #101214;
    /* Inside Auto Layout */
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 84px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 24px 0px;
}

.proj-desc{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 44px;

    /* Dark Grey/60 */

    color: #73808D;

    /* Inside Auto Layout */

        flex: none;
        order: 2;
        flex-grow: 0;
        margin: 24px 0px;
}


h1{
    color: #101214;
    font-family: Arial, Helvetica, sans-serif;
 }

 
 h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;    
    color: #73808D;
 }
 
 ul{
    margin-top: 15px;
    margin-bottom: 15px;
 }
 
 li{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;    
    color: #73808D;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
 }

 h3{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 925px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 15px;
 }


 p{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;    
     max-width: 800px;
     margin: auto;
     color: #333333;
     padding-top:40px;
     padding-bottom:40px;
     font-size: 18px;

 }

 .cont-container{
     background-color:  #DBECFF;
 }
.screens{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(100px, auto);
  

}

.screens img{

    max-width: 800px;
    margin: auto;
    margin-top: 20px;
margin-bottom: 20px;
}


 #one{
    grid-column: 1 / 1;
    grid-row: 1;
 }

 #two{
    grid-column: 1 / 1;
    grid-row: 2;
 }

 #three{
    grid-column: 1 / 1;
    grid-row: 3;
 }

 footer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);   
    gap: 5px;
    background-color: #F4F6FC;
    margin-top: 45px;
 }

 #last{
    grid-column: 1 / 2;
    grid-row: 1;


 }

 #next{
    grid-column: 2 / 2;
    grid-row: 1;
 }



     /* Actionable search result card */

.pto-action{
/* pto-action */
margin:auto;

/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 9.59505px 16.5733px;

position: relative;
width: 685px;
height: 158.75px;

background: #FFFFFF;
border: 0.87217px solid #F0F1F2;
box-sizing: border-box;
box-shadow: 1.74434px 2.61651px 3.48868px rgba(0, 0, 0, 0.2);
border-radius: 5.23302px; 
}

.case{
    /* Group 4 */

position: static;
width: 125.61px;
height: 139.56px;
left: 16.57px;
top: 9.59px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 35.7634px;
}

.core{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 490.48px;
    height: 72.76px;
    left: 177.94px;
    top: 43px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 35.7634px;
}

.dothis{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 233.77px;
    height: 66.29px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0.4238px;
}

.req{
    position: static;
    width: 198.15px;
    height: 21.81px;
    left: 0px;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18.4428px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #333333;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 7.84953px 0px;
}

.sub-header{
    position: static;
    width: 233.77px;
    height: 36.64px;
    left: 0px;
    top: 29.66px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15.8299px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #7B858F;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: -8.15047px 0px;
}

.actions{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 221.29px;
    height: 66.76px;
    left: 258.19px;
    top: 0px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24.4238px;
}

.enter-dates{
    margin: 13.8269px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 211.29px;
    height: 29.65px;
    left: 0px;
    top: 0px;
    flex: none;
    order: 0;
    margin: 8.8269px 0px;
}

.start-date-feild{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 9.5906px 22.5934px 9.5906px 5.64834px;
    position: static;
    width: 112.26px;
    height: 29.65px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1.41209px solid #717C86;
    box-sizing: border-box;
    border-radius: 2.82417px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px -0.2912px;
}
.end-date-feild{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10.5906px 22.5934px 10.5906px 5.64834px;
    position: static;
    width: 112.26px;
    height: 29.65px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1.41209px solid #717C86;
    box-sizing: border-box;
    border-radius: 2.82417px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 5.7088px;
  }

.cal{
  /* cal */


position: static;
width: 23.3px;
height: 23.3px;
left: 5.65px;
top: 3.18px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 7.06043px;  
}

.placeholder{
    /* Start-date */
font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12.1086px;
line-height: 14px;
/* identical to box height */

display: flex;
align-items: center;

color: #333333;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 7.06043px;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7.67087px 14.4955px 7.67087px 15.3676px;
    position: static;
    width: 56.62px;
    height: 12.28px;
    left: 0px;
    top: 44.48px;
    background: #0875E1;
    border-radius: 140.8068px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 1.8269px 0px;
}

.submit{
 /* Submit */


position: static;
width: 46.76px;
height: 12.93px;
left: 15.37px;
top: 7.67px;

font-family:Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: bold;
font-size: 12.0386px;
line-height: 14px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 6.43775px;   
}