    html{	
        cursor:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAaCAMAAABigZc2AAAACVBMVEX///8AAAD///9+749PAAAAAXRSTlMAQObYZgAAAFpJREFUeNp9jUEOwEAIAhn+/+imjbs1bC0XzQioSUAAYZs0mcVY051RbGXfFsyxibTVHXhuhXYlbuRGPbe7kz3g0wf679OuizDBdCaberLE4AsjGliD02eNugA+MQFAPqynHQAAAABJRU5ErkJggg==),auto;
}   
   
   body{
        width: 70%;
        max-width: 835px;
        margin: auto;
    }
    h4{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 37px;
        /* or 143% */

        letter-spacing: 0.94201px;

        /* Dark Grey/80 */

        color: #101214;
    }
    h4.bio{
        font-weight: normal;
    }

    h5{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 20px;
        /* or 143% */

        letter-spacing: 0.94201px;

        /* Dark Grey/80 */

        color: #101214; 
    }
    span{
        text-decoration-line: underline;
    }
    .ksamp-logo{
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        /* or 143% */

        letter-spacing: 0.94201px;

        /* Dark Grey/80 */

        color:black; 
    }


    #nuplogo{
        height: 150px;
        width: auto;

    }

    .inlay{
/* k-samp-logo */


/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 18.1645px 9.08226px;

position: static;
width: 197.24px;
height: 67.8px;
left: 46.82px;
top: 53.74px;

background: #FFFFFF;
border-radius: 9.99049px;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 4.54113px 0px;
    }

.card{
/* Frame 1997 */

    border-radius: 2px;
    border: 1px solid rgb(51, 51, 51);
    box-shadow: rgb(210 210 249) 4px 4px 0px 0px;


/* Auto Layout */

display: flex;
justify-content: center;
align-items: center;
padding: 62.6676px 90.8226px;

position: static;
width: 215px;
height: 105px;
left: 0px;
top: 0px;

background: rgb(255, 255, 255);

/* Inside Auto Layout */

flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
margin: 9.99049px 0px;
    }

    .card:hover{
        border-radius: 4px;
        box-shadow: rgb(0 0 0 / 15%) 0px 8px 17px;
        background: rgb(242, 242, 242);
        transition: transform 0.1s ease 0s;
        transform: scale(1.02);
    }

#vike-logo{
    height: 150px;
}

#nuplogo{
    height: 210px;
}

#nebulalogo{
    width: 300px;
}

#myflogo{
    width: 300px;
}
#podly-logo{
    width: 200px;
}

#coursesup-logo{
    width: 150px
}

p.thumb-tit{
/* KSamples */


position: static;
width: 290.89px;
height: 18.82px;
left: 0px;
top: 0px;

font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
font-size: 20px;
line-height: 21px;
/* identical to box height, or 138% */

letter-spacing: 0.427779px;

/* Dark Grey/80 */

color: #101214;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 3.6329px 0px;
}
.thumb-desc{
/* Current project */


position: static;
width: 290.89px;
height: 10.27px;
left: 0px;
top: 22.46px;

font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
font-size: 15px;
line-height: 16px;
/* identical to box height, or 120% */

letter-spacing: 0.213889px;

/* Dark Grey/60 */

color: #73808D;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 3.6329px 0px;
}

.thumbnail{
    -webkit-column-break-inside: auto;
    page-break-inside: auto;
    break-inside: auto;
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

#ksamp{
    grid-column: 1 / 3;
    grid-row: 1;
}

#nupub{
    grid-column: 3 / 3;
    grid-row: 1;
}
#nebula{
    grid-column: 1 / 3;
    grid-row: 2;
}
#lecshare{
    grid-column: 3 / 3;
    grid-row: 2;
}
#myfair{
    grid-column: 1 / 3;
    grid-row: 3;
}
#lurndit{
    grid-column: 3 / 3;
    grid-row: 3;
}
#podly{
    grid-column: 1 / 3;
    grid-row: 4;
}
#courseup{
    grid-column: 3 / 3;
    grid-row: 4;
}
#vikelabs{
    grid-column: 1 / 3;
    grid-row: 5;
}
#orcasat{
    grid-column: 3 / 3;
    grid-row: 5;
}

/* --- Media Queries --- */
/*mobile responsive*/
/* column collapse*/

@media (max-width:1150px){
    .wrapper{
        display: column;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }

    #ksamp{
        grid-column: 1 / 1;
        grid-row: 1;
    }
    
    #nupub{
        grid-column: 1 / 1;
        grid-row: 2;
    }
    #nebula{
        grid-column: 1 / 1;
        grid-row: 3;
    }
    #lecshare{
        grid-column: 1 / 1;
        grid-row: 4;
    }
    #myfair{
        grid-column: 1 / 1;
        grid-row: 5;
    }
    #lurndit{
        grid-column: 1 / 1;
        grid-row: 6;
    }
    #podly{
        grid-column: 1 / 1;
        grid-row: 7;
    }
    #courseup{
        grid-column: 1 / 1;
        grid-row: 8;
    }
    #vikelabs{
        grid-column: 1 / 1;
        grid-row: 9;
    }
    #orcasat{
        grid-column: 1 / 1;
        grid-row: 10;
    }
    
}
/* header shrink*/

@media (max-width:670px){
    .card{
        width: 125px;
        height:75px;
    }
    h5{
        font-size: 20px;
    }
    .bio{
        font-size: 17px;
        line-height: 19px;
    }
    section.header.bio{
        font-size: 17px;
        line-height: 19px;
    }
    body{
        width: 80%;
    }
}




 /* For page Templates */